/*------------------------------------------------- Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------------------------------------------- Colours */
.bg-color-name-title {
    background-color: rgb(81, 88, 94);
}

.bg-color-personal-info {
    background-color:#b8657f;
}

.bg-color-work-history {
    background-color: #a185ed;
}

.bg-color-contact {
    background-color: #fff;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #b8657f;;
}

.ui-menu-color-cv {
    background-color: #a185ed;
}

.ui-menu-color-contact {
    background-color: #719CF0;
}

.ui-menu-color-download {
    background-color: #6367D3;
}



/*--------------------------------------------- Special paddings/margins/text */
h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row {
    margin: 0;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 20px 20px;
    float: none;
}


.section-heading {
    font-family: "exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------------------------------- Heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

/*------------------------------------------------- Logo image within heading */
.logo {
    background-image: url("../images/monica2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    width: 100%;
    display: block;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------------------------------- Hover.css */
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*------------------------------------------------- Footer */
footer {
    background-color: rgb(81, 88, 94);
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #6367D3;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -wekit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #6367D3;
}

#footer-details {
    padding: 20px;
}

/*------------------------------------------------- Three reasons */
.three-reasons-icon {
    font-size: 26px;
    color: #B04F6D;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*------------------------------------------------- Personal info */
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block; 
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    width: 60%;
    position: relative;
}

.infolinks {
    text-decoration: none;
    color: black;
}

/*------------------------------------------------- CV skills icons */
.cv-skills {
    font-size: 26px;
    color: #8B66F0
}

/*------------------------------------------------- CV skills */
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    padding: 12px 30px 2px 10px;
    color: #fafafa;
    font-weight: bolder;
}

.progress-section {
    margin: 40px 20px;
}

/*------------------------------------------------- Work history */
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color:black;
}

/*------------------------------------------------- Contact form */
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #719CF0;
}

/*------------------------------------------------- Media Queries */
@media(min-width:992px) {
    .center-form {
        padding-top:30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}